<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>北工大网关登陆器</Name>
    <Version>3.0.0</Version>
    <Title>北工大网关登陆器</Title>
    <Publisher>飓科工作室</Publisher>
    <ProductUrl>http://bnl.hrrcn.com</ProductUrl>
    <InstallerWindowIcon>installericon</InstallerWindowIcon>
    <InstallerApplicationIcon>installericon</InstallerApplicationIcon>
    <Logo>logo256.png</Logo>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <StartMenuDir>北工大网关登录器</StartMenuDir>
    <TargetDir>@ApplicationsDir@/BjutNetLogin</TargetDir>
</Installer>
